body {
  background-color: #0a192f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link {
  color: #64ffda !important;
}

.navbar .btn {
  border-color: #64ffda;
  color: #64ffda;
}

.navbar .btn:hover {
  background-color: #64ffda;
  color: #0a192f;
}

.hero .btn:hover {
  background-color: #64ffda;
  color: #0a192f;
}
